**/node_modules
**/__tests__
**/__mocks__

npm-debug.log
yarn-error.log

**/.git
**/.yarnrc
.githooks
.circleci

dist
build

.env-cmdrc.js
.node_version

.DS_Store
*.orig

.idea
.vscode/launch.json
.vscode/settings.json
